<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Mobile Store</title>
    <th:block th:insert="fragments/layout :: head"></th:block>
</head>

<body>
<header th:replace="fragments/header :: header"></header>

<div class="container mt-5">
    <h2 style="text-align:center; margin-top: 5px">Giỏ hàng của bạn</h2>

    <div th:if="${#lists.isEmpty(cartItems)}">
        <p style="text-align:center;">Giỏ hàng đang trống.</p>
    </div>
    <div id="cart-container" >
        <div th:replace="fragments/cartList :: cartContent"></div>
    </div>

</div>

<!-- Hiển thị lỗi -->
<div th:if="${checkoutError != null}">
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var message = [[${checkoutError}]];
            if (message) {
                swal("Lỗi", message, "error");
            }
        });
    </script>
</div>

<script th:src="@{/js/cart/cart.js}"></script>
</body>

</html>